# MongoDB Database Connection
MONGODB_URI=mongodb://127.0.0.1:27017/ai_financial_hub

# Application Secrets & Configuration
NODE_ENV=development
APP_SECRET=super_secret_personal_financial_hub_key_change_me_in_prod

# AI Provider API Keys
GEMINI_API_KEY=AQ.Ab8RN6JfTl8wTTXsF7OurFwHaSjj9X6-umYypw7SfTJqLNZ7lQ
GROQ_API_KEY=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

# Python Analytics Service URL
PYTHON_SERVICE_URL=http://localhost:8000
